<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>GLITCH.CSS</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" contents="noindex,nofollow">

<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<link href="./css/common.css" rel="stylesheet" type="text/css" media="all">
<link href="./css/styles.css" rel="stylesheet" type="text/css" media="all">
<link href="./css/glitch.css" rel="stylesheet" type="text/css" media="all">
<link rel="shortcut icon" href="./images/favicon.ico"> 

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<!-- jQuery library (served from Google) -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<meta name="viewport" content="width=device-width,initial-scale=1">

<style>
</style>

<script>
window.onload = function () {
	var app = new Vue({
	  el: '.app',
	  data: {
	    message: 'GLITCH.CSS',
	    selected: 'gl-1',
	  }
	})
};
</script>

</head>
<body>

<div class="app">
	<div class="view">
		<div v-bind:class="selected" class="glitch">
			<p v-bind:data-text="message">{{ message }}</p>
		</div>
	</div>


<div class="center">
	<input v-model="message">

	<select class="selector" v-model="selected">
		<option value="gl-1">gl-1</option>
		<option value="gl-2">gl-2</option>
		<option value="gl-3">gl-3</option>
		<option value="gl-4">gl-4</option>
	</select>
</div>

	<div class="center">
		<p>Ver 0.0.0 Now Work In Progress</p>
		<p><!--<a href="./css/glitch.css" download="glitch.css">Download</a> or --><a href="https://github.com/oimo23/Glitch.css/">View on Github</a></p>
	</div>

</div>

</body>
</html>